:root {
    // color
    --blue: #0101a3;
    --dark-blue: rgba(0, 0, 0, 0.2);
    --dark-mask: rgba(0, 0, 0, 0.6);
    --pink: #e92bde;
    --white: #ffffff;
    --light: #b6b6d3;
    --transparent: rgba(0, 0, 0, 0);
    --black: #000000;

    // font
    --font: 'Bebas Neue', monospace;

    // size
    --wrapper: 1190px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    pointer-events: fill;
    user-select: none;

    a {
        color: inherit;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    background-color: var(--blue);
    color: var(--white);
    font-family: var(--font);
    font-size: 22px;
    text-transform: uppercase;
}

.open-menu-burger {
    overflow: hidden;
}

.wrapper {
    max-width: var(--wrapper);
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 160px;

    @media (max-width: 1024px) {
        padding-top: 80px;
        padding-bottom: 110px;
    }

    @media (max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 55px;
    }
}

.logo-container {
    font-size: 28px;
    line-height: 0.8;
    height: 22px;

    display: inline-flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;

    .logo-icon {
        display: inline-block;
        position: relative;

        height: 90%;
        aspect-ratio: 1/1;

        &:before,
        &:after {
            content: "";
            display: inline-block;
            width: 50%;
            height: 50%;
            background-color: var(--white);
            position: absolute;
        }

        &:before {
            top: 0;
            left: 0;
        }

        &:after {
            bottom: 0;
            right: 0;
        }
    }

    .logo-text {
        display: inline;
    }
}

h1 {
    font-size: 100px;
    line-height: 108px;
    letter-spacing: 0;
    display: inline;

    background-image: linear-gradient(var(--pink), var(--pink));
    background-size: 100%;
    background-position: 0 85%;
    background-repeat: repeat-x;
    background-size: 100% 25%;
}

h2 {
    font-size: 65px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 38px;
}

button {
    display: inline-block;
    font-size: 18px;
    padding: 12px 30px;
    background-color: var(--pink);
    color: inherit;
    text-transform: inherit;
    margin-top: 40px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        background-color: var(--white);
        color: var(--pink);
    }
}

article {
    overflow: hidden;

    section {
        overflow: hidden;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-position: top;
        object-fit: cover;
    }

    p {
        margin: 20px 0;
        font-size: 26px;
        font-weight: 400;
    }
}

.gradient {
    background: linear-gradient(var(--blue) 80%, var(--dark-mask));
}

.column-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60;

    @media (max-width: 768px) {
        grid-template-columns: auto;

        section {
            min-height: 600px;
        }
    }
}

.column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    @media (max-width: 768px) {
        grid-template-columns: auto;

        section {
            min-height: 600px;
        }
    }
}

.column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-between;
    grid-gap: 28px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);

        section {
            min-height: 400px;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;

        section {
            min-height: 200px;
        }
    }
}

form {
    background-color: var(--pink);
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px 22px;
    max-width: 100%;

    h3,
    input:nth-child(4),
    textarea,
    label {
        grid-column: 1/3;
    }

    h3 {
        font-size: 28px;
    }

    input {
        padding: 10px;
    }

    input,
    textarea {
        background-color: transparent;
        border: 2px solid var(--white);
        width: 100%;
        height: 100%;
        resize: none;
        color: var(--white);
        font-size: inherit;
    }

    input::placeholder {
        color: #fff5;
        text-transform: uppercase;
        font-size: 14px;
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;

        input {
            position: relative;
            visibility: hidden;
            width: max-content;
            height: 24px;
        }
        
        input::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            
            display: block;
            width: 24px;
            height: 24px;
            border: 2px solid var(--white);
            visibility: visible;
            box-sizing: border-box;
        }
        
        input:checked::after {
            content: "";
            position: absolute;
            inset: 0;
            margin: 0;
            
            display: block;
            width: 22px;
            height: 22px;
            clip-path: polygon(55% 44%, 97% 3%, 65% 96%, 4% 4%);
            background-color: var(--white);
            visibility: visible;
        }
    }

    p {
        font-size: 10px;
        line-height: 10px;
        margin: 0;
    }
}

// header start
header {

    .container {
        margin-top: 120px;
    }

    .navigation-container {
        border-bottom: 16px solid var(--pink);
        padding: 45px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        width: 100%;
        max-height: 100%;
        background-color: var(--blue);
        transition: padding 1s;
    }

    .navigation-container_active {
        background-color: black;
        box-shadow: 0 0 100vmax 100px black;
    }

    ._shrink {
        padding: 20px 0;
    }

    .menu-container {

        .burger {
            display: none;
        }

        @media (max-width: 768px) {
            
            .burger {
                display: block;
                width: 60px;
                height: 60px;
                transition: all 1s;
                cursor: pointer;
                
                position: relative;
                z-index: 30;

                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 20%;
                    background-color: var(--white);
                    transition: all 0.2s;
                    position: absolute;
                    z-index: 20;
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }

                span {
                    width: 100%;
                    height: 20%;
                    position: absolute;
                    z-index: -10;
                    background-color: var(--white);
                    inset: 0;
                    margin: auto;
                    transition: all 0.2s;
                }
            }

            & > ._active {

                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 20%;
                    background-color: var(--white);
                    position: absolute;
                    inset: 0;
                    margin: auto;
                }
                &::before {
                    transform: rotate(-45deg);
                }
                &::after {
                    transform: rotate(45deg);
                }

                span {
                    width: 0%;
                }
            }

        }

        .menu {
            ul {
                display: flex;
                flex-direction: row;
                gap: 40px;
            }

            @media(max-width: 768px) {
                ul {
                    display: flex;
                    flex-direction: column;
                    max-height: 0px;
                    transition: all .3s;

                    opacity: 0;
                    pointer-events: none;
                }
            }

            ._active {
                max-height: 200px;
                margin-top: 80px;
                text-align: end;

                animation: visibleAnimation .4s;
                animation-fill-mode: forwards;

                @keyframes visibleAnimation {
                    0% {}

                    75% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

        }
    }

    .wrapper-nav {
        max-width: 1330px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    article {
        section {
            padding-right: 90px;

            @media (max-width: 768px) {
                padding-right: 0;
            }
        }

        span {
            font-size: 26px;
            color: var(--pink);
            font-weight: 400;
        }

        p {
            max-width: 360px;
            font-weight: 300;
        }
    }
}

// main
main {

    .our-team {
        text-align: center;

        .cards {
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content: space-around;
            gap: 40px;
            margin-top: 100px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 272px;
            overflow: visible;
            margin: 0 auto;

            .image {
                height: 272px;
                width: 272px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0 0 1px 1px black;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .5s;
                }
            }

            h3,
            p {
                max-width: 90%;
                transition: all 0.5s;
            }

            h3 {
                margin-top: 40px;
                margin-bottom: 20px;
            }

            &:hover {
                .image {
                    img {
                        transform: scale(1.1);
                    }
                }

                h3,
                p {
                    text-shadow: 0 0 10px black;
                }
            }
        }
    }

    .about-us {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            position: static;
            max-height: 500px;
            min-height: 300px;
            max-width: 100%;
            object-fit: cover;
            object-position: left;
        }

        h2,
        p,
        button {
            max-width: 680px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .with-us {
        text-align: center;

        section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 100px 0;
        }

        h2,
        p {
            max-width: 430px;
            margin: 0 auto;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .our-traning {
        text-align: start;
    }

    .blog {
        background-color: var(--dark-blue);

        .cards {
            margin-top: 100px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 auto;

            .image {
                height: 210px;
                width: 100%;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                margin-top: 40px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                color: gray;
            }
        }
    }

    .map {
        article {
            display: flex;
            flex-direction: column;
        }
        iframe {
            height: 580px;
            width: 100%;
        }
    }
}

// footer
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--blue));

    .wrapper {
        max-width: 1330px;
        padding: 60px 0;
        gap: 2rem;
     }

    .logo-container {
        font-size: 40px;
        height: 32px;
    }

    .menu {
        display: flex;
        gap: 60px;
        margin-top: 90px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &>.wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .footer-bottom {
        border-top: 16px solid var(--pink);
        display: flex;
        width: 100%;
    }

    .social-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
    }

    .social-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;
        gap: 10px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 2px;
            background-color: #ffffff;
            transition: all 0.2s;
        }

        svg {
            height: 22px;
            width: 22px;
            fill: var(--white);
        }

        span {
            font-size: 16px;
            color: var(--pink);
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}

.scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    
    background-color: var(--pink);
    color: var(--white);
    transition: all 0.2s;

    position: fixed;
    bottom: 40px;
    right: 40px;

    &:hover {
        background-color: var(--white);
        color: var(--pink);
    }
}

// full screen post
// ._active-post {
//     position: fixed;
//     z-index: 20;
//     inset: 0;
//     margin: auto;
//     border: 50vw solid rgb(100, 0, 50);
//     width: 400px;
//     height: 300px;
//     background-color: #000000;
// }